.login_page{
    display: flex;
    height: 100vh;
  }
  
.marketing{
    clip-path: polygon(0 0, calc(100% - 200px) 0, 100% 100%, calc(100% - 200px) 100%, 0 100%);
    background-color: black;
    background: url('../public/login.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    width: 60%;
    height: 100%;
}

.login_area{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--white);
    height: 100%;
}

.skyler-logo{
    display: flex;
    align-items: center;
    justify-content: center;
}

.skyler-logo img{
    width:130px;
    height:70px;
    margin-bottom: var(--medium-margin-bottom);
}

.login_form{
    opacity: 0;
    transform: translateY(100px);
    transition: opacity 0.5s ease;
    padding: var(--medium_padding);
    background-color: var(--white);
    animation: fadeIn 0.5s ease forwards;
}

.login_button{
    width: 100%;
}

.login_field{
    min-width: 300px;
    margin-bottom: var(--low-margin-bottom);
}

.login_title{
    margin-bottom: var(--medium-margin-bottom);
}

.unauth_login{
    font-size: var(--lower-font);
    color: var(--red);
    margin-bottom: var(--low-margin-bottom);
}