.main{
    position: relative;
    margin-left: calc(var(--untoggled-side-bar-width) + 100px); /* Adicionando 30px à margem esquerda */
    transition: all 0.1s ease;
    transform: translateY(30px);
}

.main.toggled{
    margin-left: calc(var(--toggled-sibe-bar-width) + 70px);
}


