:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --thin-weight:300;
  --greater-font: 20px;
  --medium-font:15px;
  --lower-font:13px;
  --white:rgb(255, 255, 255);
  --deep-white:rgb(236, 231, 231);
  --deep-white-button: rgb(247, 240, 240);
  --deep-white-button-hover: rgb(219, 216, 216);
  --light-border:1px solid rgb(230, 225, 225);
  --low-margin-bottom:10px;
  --medium-margin-bottom:20px;
  --large-margin-bottom:40px;
  --low_padding: 5px 6px;
  --medium_padding: 20px 50px;
  --red: rgb(245, 61, 61);
  --red-hover: rgb(233, 78, 78);
  --skyler-blue: rgb(12, 40, 70);
  --skyler-blue-hover:rgb(12, 40, 70,0.7);
  --smooth-blue:#9ec5f0;
}

.disabled{
  pointer-events: none;
  opacity: 0.5;
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 3px; /* Arredonda a alça da barra de rolagem */

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes fadeInTranlating30pxDown {
  to {
    opacity: 1;
    transform: translateY(30px);
  }
}

@keyframes fadeOut{
  to { transform: translateY(40px); opacity: 0;}
}


.divider{
  border-bottom: var(--light-border);
  margin-bottom: var(--medium-margin-bottom);
  margin-top:var(--medium-margin-bottom);
}



.success{
  background-color: rgb(57, 232, 42); /* Define a cor de fundo com uma certa transparência */
	backdrop-filter:blur(5px);
  color: white;
}

.error{
  background-color: rgb(228, 49, 49);
  color: white;
  position: absolute !important;
  top: 0px !important;

}

.data-100 button{
  width: 100%;
}
.gambiarra>div:nth-child(1){
  flex:1;
}

@keyframes fadeInOut {
  0% {
    opacity: 1; /* Início: totalmente visível */
  }
  50% {
    opacity: 0; /* Metade: totalmente invisível */
  }
  100% {
    opacity: 1; /* Fim: totalmente visível */
  }
}

